@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Equipamento</div>
        <div class="col-4">0001</div>
    </div>
    <div class="row">
        <p>Selecione o procedimento desejado</p>
        <p></p>
        <form action="/action_page">
            <label for="procedure">Escolha:</label>
            <select name="procedures" id="procedures">
                <option value="status">Status</option>
                <option value="corte&Religa">Corte/Religa</option>
                <option value="leitura">Reading</option>
            </select>
            <br><br>
        </form>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="OK" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
